<!DOCTYPE html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <!--<![endif]-->

  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->
    <title>ListAny Template</title>

    <meta name="author" content="themesflat.com" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" />

    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/revolution/css/settings.css"
    />

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Favicon and touch icons  -->
    <link
      href="icon/apple-touch-icon-48-precomposed.png"
      rel="apple-touch-icon-precomposed"
      sizes="48x48"
    />
    <link
      href="icon/apple-touch-icon-32-precomposed.png"
      rel="apple-touch-icon-precomposed"
    />
    <link href="icon/favicon.png" rel="shortcut icon" />

    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      .login {
        width: 40%;
        height: 34px;
        display: block;
        margin: auto auto auto auto;
        margin-top: 150px;
        /* margin-top: auto;
            margin-left: auto;
            margin-right: auto; */
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="login">
      <form class="form-login form-listing" id="changeForm">
        <h3 class="title-formlogin">Forgot Your Password</h3>
        <div class="password1 error"></div>
        <label> Regesterd Email </label>

        <div id="emailError"></div>
        <span class="input-login icon-form"
          ><input
            type="email"
            placeholder="email*"
            name="email"
            required="required" /><i class="fa fa-user"></i
        ></span>

        <div class="flat-fogot clearfix"></div>
        <span class="wrap-button">
          <button
            type="submit"
            id="login-button"
            class="login-btn effect-button round"
            title="log in"
          >
            Submit
          </button>
        </span>
      </form>
    </div>

    <!-- Javascript -->
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/tether.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.easing.js"></script>
    <script src="/javascript/jquery-waypoints.js"></script>
    <script src="/javascript/jquery-countTo.js"></script>
    <script src="/javascript/owl.carousel.js"></script>
    <script src="/javascript/jquery.cookie.js"></script>
    <script src="/https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="/javascript/parallax.js"></script>
    <script src="/javascript/bootstrap-slider.min.js"></script>
    <script src="/javascript/smoothscroll.js"></script>

    <script src="/javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="revolution/js/slider.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script>
      let email1Error = document.querySelector(".email1.error");
      let password1Error = document.querySelector(".password1.error");

      document
        .getElementById("signIn")
        .addEventListener("submit", async function (e) {
          e.preventDefault();
          console.log("inside login");
          let formData1 = new FormData(this);
          const signIn = await fetch("/adminLogin", {
            method: "post",
            body: formData1,
          });
          const signInresponse = await signIn.json();

          if (signInresponse.user) {
            location.href = "/admin/createCoupon/" + signInresponse.user;
          } else if (signInresponse.error) {
            email1Error.textContent = signInresponse.error.email;
            password1Error.textContent = signInresponse.error.password;
          }

          console.log(signInresponse);
        });
    </script>
    <!-- fetch req for changing password -->
    <script>
      let form = document.getElementById("changeForm");
      form.addEventListener("submit", async function (e) {
        document.getElementById("emailError").innerHTML = "";
        e.preventDefault();
        let formData = new FormData(this);
        const serverResponse = await fetch("/forgetPassword", {
          method: "post",
          body: formData,
        });
        let jsonBody = await serverResponse.json();
        if (jsonBody.error) {
          // alert(jsonBody.error.password);
          let html = `${jsonBody.error.email}`;
          document.getElementById("emailError").innerHTML = html;
        } else if (jsonBody.user) {
          alert("email sent to " + jsonBody.user);
        }
        console.log(jsonBody.error);
      });
    </script>
  </body>
</html>
